body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
/* MENU */
nav{
    background-color: rgba(0, 25, 68, 0.9);
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
}
nav div div{
    display: inline-block
}
a{
    text-decoration: none;
    color:#fff; 

}
a:focus{
    font-weight: 700
}
.list{
    display: none;
}
.menu div:first-child{
    padding-left: 50px;
    text-align: left
}
.menu div:last-child{
    padding-left: 20px;
    text-align: left
}
/* BANNER */
.banner{
    display: block;
    width: 100%;
    height: 30em;
    background: -webkit-radial-gradient(
        #407ba0,#214154,#13242f
    );
}
.nubes, .mapa{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto
}
.nubes{
    width: 220px;
    height: 220px;

}
.nubes img{
    position: relative;
    z-index: 20;
}
.mapa{
    width: 200px;
    height: 200px;
    background: lightblue;
    border-radius: 50%;
    box-shadow: -30px -20px 0px 0 rgba(0, 0, 0, 0.1) inset,
                -70px  -30px 0 0 rgba(0, 0, 0, 0.1) inset,
                -5px -5px 0 0 rgba(255, 255, 255, 0.2) inset;
     background: url(../img/mapa.png);
    background-size: cover;
    -webkit-animation: tierra-girando 5s infinite linear;
}
@-webkit-keyframes tierra-girando{
    from{
        background-position: left center;
    }
    to{
        background-position: -396px center;
    }
}
.estrellas{
    width: 2px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    border-radius: 50%;
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.3)
}
.primera{
    top:20%;
    left: 50%;
}
.segunda{
    top:30%;
    left: 30%;
}
.tercera{
    top:70%;
    left: 90%;
}
.cuarta{
    top:80%;
    left: 30%;
}
.quinta{
    top:30%;
    left: 80%;
}
.sexta{
    top:20%;
    left: 80%;
}
.septima{
    top:20%;
    left: 50%;
}
.octava{
    top:40%;
    left: 30%;
}
.novena{
    top:35%;
    left: 10%;
}
.decima{
    top:60%;
    left: 20%;
}
.estrellas:nth-child(2n){
    -webkit-animation: estrella-par 2s infinite;
}
@-webkit-keyframes estrella-par{
    0% , 90%{
        box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.3);
    }
    100%{
        box-shadow: 0 0 16px 16px rgba(255, 255, 255, 0.3);
    }
}
.estrellas:nth-child(2n+1){
    -webkit-animation: estrella-impar 2s infinite;
}
@-webkit-keyframes estrella-impar{
    0% , 35%, 50%{
        box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.3);
    }
    45%{
        box-shadow: 0 0 16px 16px rgba(255, 255, 255, 0.3);
    }
}
/* ARTICULOS */
/* IMAGENES */
.imgs{
    width: 100%;
    /* height: 200px; */
}
h2{
    width: 100%;
}
.parrafo{
    width: 100%;
}
section:not(.banner){
    margin-left: 10%;
    margin-right: 10%;
}
button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #0099ff;
    color: #fff;
    cursor: pointer
}
button:hover{
    background: #007acc;
}
/* FOOTER */
footer{
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 25, 68, 0.9);
    color: #fff; 
}
