body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
/* MENU */
nav{
    background-color: rgba(0, 25, 68, 0.9);
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
}
nav div div{
    display: inline-block
}
a{
    text-decoration: none;
    color:#fff; 

}
a:focus{
    font-weight: 700
}
.list{
    display: none;
}
.menu div:first-child{
    padding-left: 50px;
    text-align: left
}
.menu div:last-child{
    padding-left: 20px;
    text-align: left
}
/* BANNER */
.banner{
    display: block;
    width: 100%;
    background: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: #fff;
    text-align: center;
    font-size: 6rem;
    margin-top: 10%;
    margin-bottom: 10%;
}
/* ARTICULOS */
p{
    padding-bottom: 20px;
}
/* IMAGENES */
.col-4{  
    margin-bottom: 50px;
}
.imgs{
    width: 100%;
    /* height: 200px; */
}
.images h2{
    width: 100%;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding-left: 10px;
    padding-right: 10px;
}
.parrafo{
    width: 100%;
}
section:not(.banner){
    margin-left: 10%;
    margin-right: 10%;
}
button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #0099ff;
    color: #fff;
    cursor: pointer;
}
button:hover{
    background: #007acc;
}
.images p{
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 10px;
}
span{
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    display: block;
    padding: 10px;
}
/* FOOTER */
footer{
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 25, 68, 0.9);
    color: #fff; 
}
